.features {
    max-width: 1200px;
    margin: 80px auto;
    height: 250px;
    
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}
link{
    cursor: pointer;
}
.links{
    width: 50%;
    margin: auto;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    background: linear-gradient(135deg, #f75151, #301830); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif; /* Fuente llamativa */
    font-size: 24px; /* Tamaño de la fuente */
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 255, 255, 0.7);  
margin-top: 20px;
}
.links button{
    width: 50%;
    height: 100%;
}
.feature {
    max-width: 300px;
    height: 100%;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.feature h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
.feature p {
    font-size: 16px;
}
.feature-icon {
    font-size: 48px;
    color: #00a8e1;
    margin-bottom: 20px;
}
.feature-icon:hover{
    font-size: 52px;
}

@media (max-width: 1000px) {
    .features {
        width: 90%;
        margin-left: 5%;
        height: 200px;
    }
    .feature {
        max-width: 300px;
        height: 100%;
        background-color: #1a1a1a;
        padding: 30px;
        border-radius: 10px;
       
    }
    .links{
        width: 50%;
        margin: auto;
        height: 90px;
    }

    .feature-icon {
        font-size: 42px;
      
    }
    .feature h3{
        font-size: 20px;
    }
    .feature p {
        font-size: 13px;
    }


  }
  @media (max-width: 800px) { 
    .features {
        width: 90%;
        margin-left: 5%;
        height: 150px;
    }
    .feature {
        max-width: 300px;
        height: 100%;
        background-color: #1a1a1a;
        padding: 30px;
        border-radius: 10px;
    }
    .links{
        width: 45%;
        margin: auto;
        height: 80px;
    }
    .feature-icon {
        font-size: 35px;
    }
    .feature h3{
        font-size: 18px;
    }
    .feature p {
        font-size: 10px;
    }
  }
  @media (max-width: 600px) { 
    .features {
        width: 100%;
       
        margin: 0;
        justify-content: none;
        gap: 0;
        justify-content: none;
        height: 600px;
        flex-direction: column;
    }
    .links{
        width: 30%;
        margin: auto;
        height: 30px;
        font-size: 10px;
    }
    .feature {
        margin-top: 0;
        padding: 0;
        width: 350px;
        height: 150px;
        background-color: #1a1a1a;
        padding: 0;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .feature-icon {
        font-size: 35px;
    }
    .feature h3{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .feature p {
        font-size: 9px;
    }
  }
