.mentalidad{
    max-width: 1200px;
    height: 700px;
    
    margin: 50px auto;
}
.mente-title{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    font-family:"New Amsterdam", sans-serif;
}
.mente-title h3{
    font-size: 20px;
    color: red;
}

.mente-tema{
    display: flex;
    height: 70%;
    width: 100%;
}
.mente-tema .mente-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mente-tema .mente-img img{
    width: 70%;
    height: 100%;
}
.mente-text{
    width: 40%;
    height: 100%;
}
.mente-text p{
    color: white;
}
.mente-text button{
    border-radius: 20px;
    background-color: yellow;
    margin-top: 20px;    
}