
  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #141414;
    color: #fff;
  }
 
  .logo {
    color: #e50914;
    font-size: 2em;
    font-weight: bold;
  }
  .nav {
    display: inline-block;
    margin-left: 20px;
  }
  .nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
  }
  .nav a:hover {
    color: #e50914;
  }
  .nav a.active {
    font-weight: bold;
  }
  
  .hero {
    max-width: 1200px;
    margin: auto;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    position: relative;

  }
  .hero-content {
    position: absolute;
    width: 450px;
    height: 200px;
    left: 20px;
    bottom: 10px;
  }
  .hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .btn-primary {
    background-color: #e50914;
  }
  .btn-primary:hover {
    background-color: #f40612;
  }
 #populares{
    max-width: 1400px;
    margin: auto;
 }
  .series-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 0;
    margin: auto;
   
    justify-content: center;
  }
  .series-item {
    position: relative;
    height: 300px;
    background-color: #333;
    transition: transform 0.3s;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
  }
  .series-item:hover {
    transform: scale(1.05);
  }
  .series-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .series-item:hover .series-info {
    opacity: 1;
  }
  .series-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .series-year {
    font-size: 0.9em;
    color: #aaa;
  }

 .series-boton{
    display: flex;
    align-items: center;
    justify-content: center;
     
 }
 .series-boton {
    color: white;
    font-size: 30px;
 }

 @media (max-width: 1000px) {
  .hero {
    width: 100%;
    height: 40vh;
    margin-bottom: 40px;
  }
  .hero-content {
    position: absolute;
    width: 400px;
    height: 180px;
    left: 10px;
    bottom: 10px;
  }
  .hero h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .hero p {
    font-size: 1em;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .hero {
    width: 100%;
    height: 35vh;
    margin-bottom: 40px;
  }
  .hero-content {
    position: absolute;
    width: 250px;
    height: 140px;
    left: 10px;
    bottom: 15px;
  }
  .hero h1 {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  .hero p {
    font-size: 0.7em;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .hero {
    width: 100%;
    height: 30vh;
    margin-bottom: 30px;
  }
  .hero-content {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 5px;
    bottom: 20px;
  }
  .hero h1 {
    font-size: 1em;
    margin-bottom: 15px;
  }
  .hero p {
    font-size: 0.6em;
    margin-bottom: 5px;
  }
}
  